body {
    background: #07049e71 url("../img/ecosistema.png") top right no-repeat;
    font-family: 'Times New Roman', Times, serif;
    font-size: normal;
    font-weight: bold;
    font-style: oblique;
    text-align: right;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    line-height: normal;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 36pt;
    text-align: center;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22pt;
    text-align: left;
    font-weight: bolder;
}
.div1 {
   text-align: left;
   margin-bottom: 0.30cm;
    margin-left: 5cm;
    margin-right: 5cm;
    background-color: rgb(65, 230, 230);
    border: 5px outset rgb(20, 105, 105);
    color: black;
}
.div2 {
    background: #07049e71 url("../img/FondoMaino.jpg") top right no-repeat;
    padding-bottom: 1.30cm;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align: left;
    line-height: normal;
    font-weight: bold;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22pt;
    text-align: left;
    line-height: normal;
    font-weight: bold;
}